<div class="container mt-5">
  <div class="row">
      <div class="col d-flex align-items-center justify-content-center">
          <div class="row">
              <div class="col">
                  <a routerLink="/phone">
                      <div class="card" style="background-color: rgb(64, 82, 143);">
                          <div class="card-body text-center">
                              <i class="bi bi-phone text-white text-center" style="font-size:100px;"></i>
                              <strong class="text-white">الهواتف المحمولة</strong>
                          </div>
                      </div>
                  </a>
              </div>

              <div class="col">
                <a routerLink="/lap">
                  <div class="card" style="background-color: rgb(64, 82, 143);">
                      <div class="card-body text-center">
                          <i class="bi bi-laptop text-white text-center" style="font-size:100px;"></i>
                          <strong class="text-white"> لابتوب</strong>
                          
                      </div>
                  </div>
                </a>
              </div>
              
              <div class="col">
                <a routerLink="/route">
                <div class="card" style="background-color: rgb(64, 82, 143);">
                    <div class="card-body text-center">
                        <i class="bi bi-router text-white text-center" style="font-size:100px;"></i>
                        <strong class="text-white">راوتر</strong>
                      
                        
                    </div>
                </div>
                </a>
            </div>
            
            <div class="col">
                <a routerLink="/whatch">
                <div class="card" style="background-color: rgb(64, 82, 143);">
                    <div class="card-body text-center">
                        <i class="bi bi-smartwatch text-white text-center" style="font-size:100px;"></i>
                        <strong class="text-white"> ساعات ذكية</strong>
                        
                    </div>
                </div>
                </a>
            </div>
             
            <div class="col">
                <a routerLink="/earphon">
                <div class="card" style="background-color: rgb(64, 82, 143);">
                    <div class="card-body text-center">
                        <i class="bi bi-headphones text-white text-center" style="font-size:100px;"></i>
                        <strong class="text-white"> سماعات</strong>
                        
                    </div>
                </div>
                </a>
            </div>
            
            <div class="col">
                <a routerLink="/camra">
                <div class="card" style="background-color: rgb(64, 82, 143);">
                    <div class="card-body text-center">
                        <i class="bi bi-camera text-white text-center" style="font-size:100px;"></i>
                        <strong class="text-white"> كاميرا</strong>
                        
                    </div>
                </div>
                </a>
            </div>
              <div class="col">

              </div>
          </div>
      </div>

  </div>
</div>